<div class="starter-template">
    <h1>Todas los usuarios</h1>
    <hr class="featurette-divider">
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-md-1">#</th>
                <th class="col-md-10">Usuario</th>
                <th class="col-md-1">Borrar</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <th scope="row">{{$index}}</th>
                <td>{{user.name}}</td>
                <td><a ui-sref="user-remove({id: user._id})">Borrar</a></td>
            </tr>
            </tbody> </table>
    </div>
</div>
