
<br />
<form name="regForm" class="form-horizontal" ng-submit="submitForm(regForm.$valid)" novalidate>
    <!-- Nombre -->
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Nombre</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="name" placeholder="Nombre" ng-required="true">
        </div>
    </div>
    <!-- Usuario -->
    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Usuario</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="username" placeholder="Usuario" ng-required="true">
        </div>
    </div>
    <!-- Email -->
    <div class="form-group" ng-class="{ 'has-error' : regForm.email.$invalid && regForm.email.$dirty }">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-3">
            <input type="email" class="form-control" name="email" placeholder="Email" ng-required="true">
        </div>
        <span class="help-block" ng-show="regForm.email.$invalid && regForm.email.$dirty">Enter a valid email.</span>
    </div>
    <!-- Password -->
    <div class="form-group" ng-class="{ 'has-error' : regForm.password.$invalid && regForm.password.$dirty }">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-3">
            <input type="password" class="form-control" name="password" placeholder="Password" ng-minlength="8" ng-required="true">
        </div>
        <p class="help-block" ng-show="regForm.password.$error.minlength && regForm.password.$dirty">Min password length is 8 characters.</p>
    </div>
    <!-- Fecha de nacimiento -->
    <!-- TODO> importar librerias para el datepicker -->
    <div class="form-group">
        <label for="birthday" class="col-sm-2 control-label">Fecha de nacimiento</label>
        <div class="col-sm-3">
            <div class="input-group date" id="datetimepicker1">
                <input type="text" class="form-control" name="birthday" ng-required="true">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
    </script>
    <!-- Localidad -->
    <div class="form-group">
        <label for="location" class="col-sm-2 control-label">Localidad</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="location" placeholder="Localidad" ng-required="true">
        </div>
    </div>
    <!-- Imagen -->
    <div class="form-group">
        <label for="profileImage" class="col-sm-2 control-label">Imagen de perfil</label>
        <div class="col-sm-3">
            <input type="file" name="profileImage">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-3">
            <button type="submit" class="btn btn-primary" ng-disabled="regForm.$invalid">Registrarse</button>
        </div>
    </div>
</form>
