<br />
<form name="regForm" class="form-horizontal" novalidate>
    <!-- Nombre -->
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Nombre</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="name" ng-model="user.name" placeholder="Nombre" required>
        </div>
    </div>
    <!-- Usuario -->
    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Usuario</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="username" ng-model="user.username" placeholder="Usuario" required>
        </div>
    </div>
    <!-- Email -->
    <div class="form-group" ng-class="{ 'has-error' : regForm.email.$invalid && !regForm.email.$pristine }">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-3">
            <input type="email" class="form-control" name="email" ng-model="user.email" placeholder="Email" required>
        </div>
        <span class="help-block" ng-show="regForm.email.$invalid && !regForm.email.$pristine">Introduce un email válido.</span>
    </div>
    <!-- Password -->
    <div class="form-group" ng-class="{ 'has-error' : regForm.password.$invalid && !regForm.password.$pristine }">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-3">
            <input type="password" class="form-control" name="password" ng-model="user.password" placeholder="Password" ng-minlength="8" required>
        </div>
        <p class="help-block" ng-show="regForm.password.$error.minlength && !regForm.password.$pristine">La longitud mínima de la contraseña es de 8 caracteres.</p>
    </div>
    <!-- Fecha de nacimiento -->
    <div class="form-group">
        <label for="birthday" class="col-sm-2 control-label">Fecha de nacimiento</label>
        <div class="col-sm-3">
            <input type="date" class="form-control" name="birthday" ng-model="user.birthday" required>
        </div>
    </div>
    <!-- Localidad -->
    <div class="form-group">
        <label for="location" class="col-sm-2 control-label">Localidad</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" name="location" ng-model="user.location" placeholder="Localidad" required>
        </div>
    </div>
    <!-- Imagen -->
    <div class="form-group">
        <label for="profileImage" class="col-sm-2 control-label">Imagen de perfil</label>
        <div class="col-sm-3">
            <input type="file" name="profileImage" ng-model="user.profileImage" >
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-3">
            <button type="submit" class="btn btn-primary" ng-disabled="regForm.$invalid">Registrarse</button>
        </div>
    </div>
</form>
