<h2>Registrarse</h2>
<div class="well">
  <form name="regForm" class="form-horizontal" ng-submit="submitForm(regForm.$valid)" novalidate>
  	<div class="row">
  		<div class="col-xs-6">
  			<div class="col-xs-12">
				<!-- Nombre -->
				<div class="form-group">
				  <label for="name" class="control-label">Nombre</label>
				  <input type="text" class="form-control" name="name" ng-model="user.name" placeholder="Nombre" required>
				</div>

				<!-- Usuario -->
				<div class="form-group">
				  <label for="username" class="control-label">Usuario</label>
				  <input type="text" class="form-control" name="username" ng-model="user.username" placeholder="Usuario">
				</div>

				<!-- Password -->
				<div class="form-group" ng-class="{ 'has-error' : regForm.password.$invalid && !regForm.password.$pristine }">
				  <label for="password" class="control-label">Contraseña</label>
				  <input type="password" class="form-control" name="password" ng-model="user.password" placeholder="Contraseña" ng-minlength="8" required>
				  <p class="help-block" ng-show="regForm.password.$error.minlength && !regForm.password.$pristine">La contraseña debe tener como mínimo 8 caracteres.</p>
				</div>

				<!-- Email -->
				<div class="form-group" ng-class="{ 'has-error' : regForm.email.$invalid && !regForm.email.$pristine }">
				  <label for="email" class="control-label">Email</label>
				  <input type="email" class="form-control" name="email" ng-model="user.email" placeholder="Email" required>
				  <span class="help-block" ng-show="regForm.email.$invalid && !regForm.email.$pristine">Introduce un email válido.</span>
				</div>

				<!-- Fecha de nacimiento -->
				<div class="form-group">
				  <label for="birthday" class="control-label">Fecha de nacimiento</label>
				  <input type="date" class="form-control" name="birthday" ng-model="user.birthday" required>
				</div>

				<!-- Localidad -->
				<div class="form-group">
				  <label for="location" class="control-label">Localidad</label>
				  <input type="text" class="form-control" name="location" ng-model="user.location" placeholder="Localidad" required>
				</div>
			</div>
		</div>

		<!-- Imagen -->
		<div class="col-xs-6">
			<div class="col-xs-12">
				<h3>Imagen de perfil</h3>

				<div class="form-group">
					<div class="">
						<div class="col-xs-6">
							<span class="btn btn-default btn-file">
								Seleccionar imagen
								<input
								  type="file"
								  ng-model="file"
								  name="file"
								  ngf-select
								  ngf-pattern="'image/*'"
								  accept="image/*"
								  ngf-max-size="1MB"/>
							</span>
						</div>
						<div class="col-xs-6">
							<img class="pull-right" style="width:100px;" ngf-thumbnail="file"/>
							<p>{{progress}}</p>
							<i class=" help-block text-danger" ng-show="regForm.file.$error.maxSize">Imagen es demasiado pesada (max 20MB)</i>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="">
						<div class="col-xs-12">
							<button class="btn btn-default" ng-click="submit()">Subir imagen</button>
						</div>
					</div>
				</div>

		        <img class="img-responsive" src="{{user.image}}" width="200" />
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="col-xs-12">
			<button type="submit" class="btn btn-primary" ng-disabled="regForm.$invalid">Registrarse</button>
			<!-- <a href="#" class="btn btn-link">Cancelar</a> -->
		</div>
	</div>
  </form>

  <div ng-show="status==0" class="alert alert-danger">
      <strong>Error:</strong> El usuario y/o e-amil ya existe.
  </div>
  <div ng-show="status==1" class="alert alert-success">
      <strong>Éxito:</strong> El usuario se ha registrado correctamente.
  </div>
</div>
