/*UPLOAD FILE BUTTON*/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/*FORM ERROR MESSAGE*/
.help-block.text-danger {
  color: #ff0404!important;
}

/*CENTER IMAGES*/
.img-responsive {
    margin: 0 auto;
}

/*LIST ACTIVITIES*/
.starter-template {
    padding: 15px 15px;
    text-align: center;
}
.featurette-divider {
    margin: 40px 0; /* Space out the Bootstrap <hr> more */
}
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

.table-align-v, .table-align-v th, .table-align-v td{
  text-align:center;
  vertical-align:middle;
}

.img-crop-circle {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  margin: 0 5px;
}
.img-crop-circle img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.img-crop-circle img.portrait {
  width: 100%;
  height: auto;
}
.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

#map-canvas {
  width: 550px;
  height: 400px;
}

.angular-google-map-container { height: 300px; }

/*Para la ventanita del login*/

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
.tag {
   float: left;
   position: absolute;
   left: 0px;
   top: 0px;
   z-index: 1000;
   background-color: #92AD40;
   padding: 5px;
   color: #FFFFFF;
   font-weight: bold;
}

.overlay {
    background: linear-gradient(to bottom, rgba(96,96,96,0), rgba(96,96,96,0.5));
    bottom:0;
    left: 0;
    position: absolute;
    right:0;
    top:0;
    z-index: 1;
}
.overlay-text{
  padding: 10px;

}


.activity-image{
  /*height: 200px;*/
  padding: 10px;
}

.rounded-corners {
  border-radius: 4px;
}

.progress-bar-segmented{
  width:100%;
  height: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);

}

.item {
  padding-right: 1px;
  display: block;
  height: 10px;

  float: left;
}

.item .empty{
  height: 10px;
  border-radius: 3px;
  border: 1px solid grey;
}


.item .filled {
  height: 10px;
  border-radius: 3px;
  border: 1px solid grey;
  background-image: -webkit-gradient(linear,left 0,left 100%,from(#428bca),to(#3071a9));
  background-image: -webkit-linear-gradient(top,#428bca,0%,#3071a9,100%);
  background-image: -moz-linear-gradient(top,#428bca 0,#3071a9 100%);
  background-image: linear-gradient(to bottom,#428bca 0,#3071a9 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca',endColorstr='#ff3071a9',GradientType=0);

}
.progress-slim {
  height: 10px;
}

.tooltp {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltp .tooltptext {
  visibility: hidden;
  font-size: 10px;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */

  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  position: absolute;
  z-index: 1;
}

.tooltp:hover .tooltptext {
    visibility: visible;
}

.tooltp .tooltptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */

  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltp.tooltp-right .tooltptext {
  margin-left: -100px;
}

.tooltp.tooltp-left .tooltptext {
  margin-left: -16px;
}

.tooltp.tooltp-right .tooltptext::after {
  margin-left: -16px;
}

.tooltp.tooltp-left .tooltptext::after {
  margin-left: -100px;
}

.hiddeable {
  transition: all linear 0.5s;
}

.hiddeable.ng-hide {
  height: 0;
}

/** Chat style */

#chat-wrapper {
  height: 300px;
  background-color: #ffff99;
  padding: 20px 20px;
  overflow: auto;
}
