<div class="well">
  <form name="actForm" ng-submit="save(actForm.$valid)" novalidate>

    <div class="form-group">
      <label for="activity-name">Nombre</label>
      <input type="text" class="form-control" id="activity-name" ng-model="activity.name" placeholder="Nombre" required>
    </div>

    <div class="form-group">
      <label for="activity-description">Descripción</label>
      <textarea  class="form-control" id="activity-description" ng-model="activity.description" placeholder="Una breve descripción"></textarea >
    </div>

<!--
    <div class="form-group">
      <label for="activity-image">Imagen</label>
      <input type="text" class="form-control" id="activity-image" ng-model="activity.image" >
    </div>
-->

    <input
       type="file"
       ng-model="file"
       name="file"
       ngf-select      
       ngf-pattern="'image/*'"
       accept="image/*"
       ngf-max-size="20MB"
       />
    Image thumbnail: <img style="width:100px;" ngf-thumbnail="file || '/thumb.jpg'"/>
    <i ng-show="upload_form.file.$error.required">*required</i><br>
    <i ng-show="upload_form.file.$error.maxSize">File too large
    {{file.size / 1000000|number:1}}MB: max 20M</i>
    <button type="submit" ng-click="submit()">submit</button>
    <p>{{up.progress}}</p>

    <div class="form-group">
      <label for="activity-location">Lugar</label>
      <input type="text" class="form-control" id="activity-location" ng-model="activity.location" placeholder="Lugar" required>
    </div>

    <div class="form-group">
      <label for="activity-executionDate">Fecha</label>
      <input type="date" class="form-control" id="activity-executionDate" ng-model="activity.executionDate" required>
    </div>

    <div class="form-group">
      <label for="activity-minParticipants">Participantes mínimos</label>
      <input type="number" class="form-control" name="minParticipants" ng-model="activity.minParticipants" required>
    </div>

    <div class="form-group">
      <label for="activity-maxParticipants">Participantes máximos</label>
      <input type="number" class="form-control" id="maxParticipants" name="maxParticipants" min ="{{activity.minParticipants+1}}"  ng-model="activity.maxParticipants" required>
       <p ng-show="actForm.maxParticipants.$error.min" class="text-danger help-block">Número de participantes maximo debe ser mayor que el mínimo.</p>
    </div>
<!--
    <div class="form-group">
      <label for="activity-categories">Categorias</label>
      <input type="text" class="form-control" id="activity-categories" ng-model="activity.categories">
    </div>-->

    <button type="submit" class="btn btn-default btn-info" ng-disabled="actForm.$invalid">Crear</button>
  </form>
</div>
