<h2>Crear actividad <span class="text-muted">/ {{user.name}}</span></h2>
<div class="well">
  <form name="actForm" novalidate>
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <label for="activity-name">Nombre</label>
          <input type="text" class="form-control" id="activity-name" ng-model="activity.name" placeholder="Nombre" required>
        </div>

        <div class="form-group">
          <label for="activity-description">Descripción</label>
          <textarea rows="8" class="form-control" id="activity-description" ng-model="activity.description" placeholder="Una breve descripción"></textarea>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-xs-6">
              <span class="btn btn-default btn-file">
                Seleccionar imagen
                <input
                  type="file"
                  ng-model="file"
                  name="file"
                  ngf-select
                  ngf-pattern="'image/*'"
                  accept="image/*"
                  ngf-max-size="1MB"
                  />
              </span>
            </div>
            <div class="col-xs-6">
              <img class="pull-right" style="width:100px;" ngf-thumbnail="file"/>
              <p>{{progress}}</p>
              <i class=" help-block text-danger" ng-show="actForm.file.$error.maxSize">Imagen es demasiado pesada (max 20MB)</i>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-default" type="submit" ng-click="submit()">Subir imagen</button>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="activity-location">Lugar</label>
          <div id="searchBoxParent"></div>
        </div>

        <div class="form-group">
          <label for="activity-executionDate">Fecha</label>
          <input type="date" class="form-control" id="activity-executionDate" ng-model="activity.executionDate" required>
        </div>

        <div class="form-group">
          <label for="activity-minParticipants">Participantes mínimos</label>
          <input type="number" class="form-control" name="minParticipants" ng-model="activity.minParticipants" required>
        </div>

        <div class="form-group">
          <label for="activity-maxParticipants">Participantes máximos</label>
          <input type="number" class="form-control" id="maxParticipants" name="maxParticipants" min ="{{activity.minParticipants+1}}"  ng-model="activity.maxParticipants" required>
           <p ng-show="actForm.maxParticipants.$error.min" class="text-danger help-block">Número de participantes maximo debe ser mayor que el mínimo.</p>
        </div>
    <!--
        <div class="form-group">
          <label for="activity-categories">Categorias</label>
          <input type="text" class="form-control" id="activity-categories" ng-model="activity.categories">
        </div>-->

      </div>
      <div class="col-xs-6">
        <div class="col-xs-12">
          <h3>Imagen actividad</h3>
          <img class="img-responsive" src="{{activity.image}}"/>
        </div>
        <div class="col-xs-12">
          <h3>Localización</h3>

          <ui-gmap-google-map center="map.center"
                			zoom="map.zoom"
                			draggable="true"
                			options="map.options"
                			control="map.control">
            <ui-gmap-search-box template="searchbox.template" options="searchbox.options" events="searchbox.events" ng-model="searchModel.searchTerm" parentdiv="searchbox.parentdiv"></ui-gmap-search-box>
            <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"></ui-gmap-marker>
          </ui-gmap-google-map>
        </div>
      </div>
      <div class="col-xs-12">
        <h3>Categorías</h3>
        <a class="btn btn-default" ng-click="selectCategories()">Seleccionar categorías</a>
        <div class="circle-list" style="margin-top:10px;">
          <div style="width: 50px; height: 50px" class="img-crop-circle" ng-repeat="category in activity.categories">
            <img ng-src="{{category.image}}" alt="{{category.name}}" ng-click="removeCategory(category)" />
            <span>Categorias</span>
          </div>

        </div>

      </div>
      <div class="col-xs-12 voffset3"></div>

      <div class="col-xs-12">
        <button ng-click="save(actForm.$valid)" class="btn btn-primary" ng-disabled="actForm.$invalid">Crear</button>
      </div>
    </div>
  </form>
</div>
<div>
    <script type="text/ng-template" id="addCategoryToActivityContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Seleccionar categorías</h3>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12">
              <div class="circle-list">
                <h4>Disponibles</h4>
                <div style="width: 50px; height: 50px" class="img-crop-circle" ng-repeat="acat in availableCategories">
                  <img ng-src="{{acat.image}}" alt="{{acat.name}}" ng-click="addCategory(acat)" />
                  <span>Categorias</span>
                </div>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="circle-list">
                <h4>Seleccionadas</h4>
                <div style="width: 50px; height: 50px" class="img-crop-circle" ng-repeat="scat in selectedCategories">
                  <img ng-src="{{scat.image}}" alt="{{scat.name}}" ng-click="removeCategory(scat)" />
                  <span>Categorias</span>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        </div>
    </script>
</div>
<script type="text/ng-template" id="searchbox.tpl.html">
    <input type="text" class="form-control" ng-model="ngModel" placeholder="Lugar" required>
</script>
