<br />
<h2>Chat</h2>
<div id="chat-wrapper">
  <div ng-repeat="message in messages track by $index"><b>{{message.user}}:</b> {{message.text}}</div>
</div>
<br />
<div class="">
  <div class="input-group">
      <input type="text" class="form-control" ng-model="message.text" ng-enter="sendMessage()" />
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="sendMessage()">
          <span class="glyphicon glyphicon-send success"></span>
        </button>
      </span>
  </div>
</div>
