<div class="starter-template">
    <h1>Todas las actividades</h1>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-xs-12">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="searchText" placeholder="Buscar...">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="search()">Buscar</button>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="activities-list">
    <div dir-paginate="activity in activities | filter: searchFilter | itemsPerPage : 2">

      <div class="panel panel-default">

        <div class="panel-body ">
            <div class="row">
                <div class="col-md-12">
                  <div class="col-md-12">
                    <!--<div class="overlay overlay-text rounded-corners">Promoted</div>-->
                    <img ng-src="{{activity.image}}" height="300" class="center-block activity-image" />
                  </div>
                </div>
                <div class="col-md-12">
                    <h3 class="featurette-heading">{{activity.name}} / <span class="text-muted">{{activity.location.name}}</span></h3>
                    <blockquote>
                      <p>{{activity.description}}</p>
                      <footer> <a ui-sref="public-profile({id:activity.creator.userID})">{{activity.creator.name}}</a></footer>
                    </blockquote>

                    <div class="tooltp tooltp-left">
                      <span class="badge">{{activity.participants.length}}</span>
                      <span class="tooltptext">Participantes mínimos</span>
                    </div>
                    <div class="tooltp tooltp-right pull-right">
                      <span class="badge">{{activity.maxParticipants}}</span>
                      <span class="tooltptext">Participantes máximos</span>
                    </div>
                    <div>
                      <div class="participants-wrapper">
                        <div class="progress-bar-segmented">
                          <div  style="width:{{100/activity.maxParticipants}}%"
                                class="item" ng-repeat="n in [] | range:activity.participants.length">
                            <div class="filled"></div>
                          </div>
                          <div  style="width:{{100/activity.maxParticipants}}%"
                                class="item" ng-repeat="n in [] | range: (activity.maxParticipants-activity.participants.length)">
                            <div class="empty"></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="hiddeable" ng-if="activity.showMap">
                      <div>{{activity.location.name}}<br /><br />
                          <ui-gmap-google-map center="centerMap"
                                              zoom="15"
                                              draggable="true"
                                              options="{scrollwheel: true}"
                                              ng-init="centerMap = {latitude: activity.location.coords.latitude, longitude: activity.location.coords.longitude}">
                              <ui-gmap-marker coords="centerMap" options="{draggable: false}" idkey="0"
                                              ng-init="centerMap = {latitude: activity.location.coords.latitude, longitude: activity.location.coords.longitude}"></ui-gmap-marker>
                          </ui-gmap-google-map>
                      </div>
                    </div>
                    <div style="margin-top: 10px" class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-md btn-success pull-right" ui-sref="activities-view({id:activity._id})">Me interesa</button>
                    </div>

                    <div style="margin-top: 10px" class="btn-group" role="group" aria-label="...">
                        <button class="btn btn-default" ng-click="activity.showMap=!activity.showMap">Mostrar localización</button>
                    </div>

                </div>
            </div>
          </div>
        </div>

    </div>

</div>

<dir-pagination-controls
   max-size="2"
   direction-links="true"
   boundary-links="true" >
 </dir-pagination-controls>
