<br />
<div id="searchBoxParent"></div>
<br />
<div class="well well-sm">
    <div class="row">
        <div class="col-xs-6">
            <ui-gmap-google-map center="map.center"
            			zoom="map.zoom"
            			draggable="true"
            			options="map.options"
            			control="map.control">
                <ui-gmap-search-box template="searchbox.template" options="searchbox.options" events="searchbox.events" ng-model="searchModel.searchTerm" parentdiv="searchbox.parentdiv"></ui-gmap-search-box>
        		<ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"></ui-gmap-marker>
            </ui-gmap-google-map>
            {{lat}}<br />
            {{lng}}<br />
            {{searchModel.searchTerm}}
        </div>
    </div>
</div>
<script type="text/ng-template" id="searchbox.tpl.html">
    <input type="text" placeholder="Buscar" size="50" ng-model="ngModel">
</script>
