<h2>Actividad: {{activity.name}}</h2>
<div class="well">
    <div class="col-lg-8">
        <div class="featurette-image center-block" style="margin-bottom: 30px;">
            <img ng-src="{{activity.image}}" height="300">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <table class="table table-user-information">
                <tbody>
                <tr>
                    <th>Nombre</th>
                    <td>{{activity.name}}</td>
                </tr>
                <tr>
                    <th>Creador</th>
                    <td><a ui-sref="public-profile({id:activity.creator.userID})">{{activity.creator.name}}</a></td>
                </tr>
                <tr>
                    <th>Descripción</th>
                    <td><span ng-bind-html="activity.description | breakFilter"></span></td>
                </tr>
                <tr>
                    <th>Lugar</th>
                    <td>{{activity.location.name}}<br /><br />
                        <ui-gmap-google-map center="map.center"
                                            zoom="map.zoom"
                                            draggable="true"
                                            options="map.options"
                                            control="map.control">
                            <ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id"></ui-gmap-marker>
                        </ui-gmap-google-map>
                        <br />
                    </td>
                </tr>
                <tr>
                    <th>Fecha</th>
                    <td>{{activity.executionDate | date:'dd/MM/yyyy'}}</td>
                </tr>
                <tr>
                    <th>Nº mín. participantes</th>
                    <td>{{activity.minParticipants}}</td>
                </tr>
                <tr>
                    <th>Nº máx. participantes</th>
                    <td>{{activity.maxParticipants}}</td>
                </tr>
                </tbody>
            </table>
            <button class="btn btn-primary" ng-show= "user._id==activity.creator.userID" ui-sref="activities-edit({id:activity._id})">Editar actividad</button>
            <button class="btn btn-danger" ng-show= "user._id==activity.creator.userID" ng-click="deleteActivity()">Eliminar actividad</button>
            <br />
            <br />
              <div ng-show="err==1" class="alert alert-danger">
			      <strong>Error:</strong> {{msg}}
			  </div>
			  <div ng-show="err==0" class="alert alert-success">
			      <strong>Éxito:</strong> {{msg}}
			  </div>
        </div>
    </div>
</div>
